.graph-tooltip {
    font-size: 0.8rem;
    background-color: #fff;
    padding: 0.5rem;
    .graph-tooltip-header {
        .graph-tooltip-symbol {
            height: 0.5rem;
            width: 0.5rem;
            display: inline-block;
            margin-right: 0.3rem;
        }
    }

    .graph-tooltip-display {
        

        span {

        }
    }
}